/* Everything in here is a comment code*/
body {
   /* background-color: aqua; */
    background-image: url("img/ss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h4 {
    color: blueviolet;
}
/*Style a specific section of the page that has an ID= using the hashtag # */
#textEnhance{
    color: darkolivegreen;
    background-image: linear-gradient(red,green);
}